<h2 class="text-2xl font-medium text-center uppercase">Student Management</h2>

<div class="flex justify-end gap-3">
  <select
    name="sortBy"
    id=""
    class="bg-gray-100 border-none rounded-lg outline-none select focus:border-0 focus:outline-none"
    (change)="onSort($event)"
  >
    <option value="1" selected>Last</option>
    <option value="0">First</option>
  </select>

  <button
    class="btn-primary"
    matRipple
    matRippleColor="#ffffff73"
    (click)="onCreate()"
  >
    <div class="flex items-center gap-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
      <span>Add Student</span>
    </div>
  </button>
</div>

<div
  class="rounded-xl w-full overflow-auto border-[#ececec] border-[1px] glass-effect not-bg-glass shadow-md relative max-w-screen-4xl mt-4 p-3"
>
  <table class="w-full text-sm text-left text-gray-600 rtl:text-right">
    <thead class="text-xs text-gray-700 uppercase bg-[#f3f4f699]">
      <tr>
        <th scope="col" class="px-2 py-3 whitespace-nowrap">Student ID</th>
        <th scope="col" class="px-2 py-3 whitespace-nowrap">Full Name</th>
        <th scope="col" class="px-2 py-3 whitespace-nowrap">Gender</th>
        <th scope="col" class="px-2 py-3 whitespace-nowrap">Date of Birth</th>
        <th scope="col" class="px-2 py-3 whitespace-nowrap">Address</th>
        <th scope="col" class="px-2 py-3 whitespace-nowrap">Creator</th>
        <th scope="col" class="px-2 py-3 whitespace-nowrap">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="hover:bg-[#a5a5a50d] border-b border-[#ececec]"
        *ngFor="let item of studentData"
        id="student-{{ item.id }}"
      >
        <ng-container>
          <td class="px-2 py-4 text-gray-700">
            <p class="">
              {{ item.studentId }}
            </p>
          </td>
          <td class="px-2 py-4 text-gray-700 max-w-36">
            <p class="line-clamp-2">
              {{ item.fullName }}
            </p>
          </td>
          <td class="px-2 py-4 text-gray-700">
            <p class="">
              {{ item.gender ? "Male" : "Female" }}
            </p>
          </td>
          <td class="px-2 py-4 text-gray-700">
            <p class="">
              {{
                item.dateOfBirth * 1000
                  | date : "dd/MM/yyyy HH:mm:ss" : "Asia/Ho_Chi_Minh"
              }}
            </p>
          </td>
          <td class="px-2 py-4 text-gray-700 max-w-60">
            <p class="line-clamp-3">
              {{ item.permanentAddress }}
            </p>
          </td>
          <td class="px-2 py-4 text-gray-700 max-w-60">
            <p class="break-all line-clamp-3">
              {{ item.creator }}
            </p>
          </td>
          <td class="px-2 py-4 text-gray-700">
            <div class="flex gap-3">
              <button
                class="btn-primary"
                matRipple
                matRippleColor="#ffffff73"
                (click)="editStudent(item)"
              >
                Edit
              </button>
              <button
                class="btn-outline-primary"
                matRipple
                matRippleColor="#ffffff73"
                (click)="deleteStudent(item)"
              >
                Delete
              </button>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>

  <ng-container>
    <div class="flex flex-wrap justify-center gap-2 mt-3 sm:gap-3 pagination">
      <button
        class="w-12 h-12 rounded-full min-w-[auto] p-3 text-violet-700 border-2 focus:outline-none border-violet-600"
        matRipple
        matRippleColor="#ffffff73"
        (click)="prevPage()"
      >
        <div class="flex items-center justify-center">
          <svg
            class="w-2.5 h-2.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
        </div>
      </button>
      <button class="rounded-full min-w-12">
        {{ page }}
      </button>
      <button
        class="w-12 h-12 rounded-full min-w-[auto] p-3 text-violet-700 border-2 focus:outline-none border-violet-600"
        matRipple
        matRippleColor="#ffffff73"
        (click)="nextPage()"
      >
        <div class="flex items-center justify-center">
          <svg
            class="w-2.5 h-2.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
        </div>
      </button>
    </div>
  </ng-container>
</div>
