/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --mat-dialog-subhead-line-height: 1rem !important;
  --mat-sys-corner-extra-large: 15px !important;
  .mat-mdc-dialog-title::before {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    vertical-align: 0;
  }
  .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.4) !important;
  }
  .mat-mdc-dialog-container .mdc-dialog__surface {
    box-shadow: var(
      --mat-dialog-container-elevation,
      0px 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12)
    );
  }
}

html,
body {
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
